<html>
<body>

<form id="addorder" action="/order/add" method="post">
    Customer ID: <input type="number" name="customerId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="updateorder" action="/order/update" method="post">
    Order ID: <input type="number" name="orderId"><br>
    Customer ID: <input type="number" name="customerId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="deleteorder" action="/order/delete" method="post">
  Order ID: <input type="number" name="orderId"><br>
  <input type="submit" value="Submit">
</form>
<br/>

<form id="filterorder" action="/order/filter" method="post">
    Customer ID: <input type="number" name="customerId" id="orderFilter"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<table>
    <thead> 
        <th>orderId</th>
        <th>customerId</th>
    </thead> 

    <tbody>
        {{#each orders}} 
        <tr> 
           <td>{{orderId}}</td>  
           <td>{{customerId}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table>

</body>
</html>