<html>

<body>


<h2>Create Product</h2>
<form action="/product/add" method="post">
    Name: <input type="text" name="productName"><br>
    Price: <input type="text" name="price"><br>
    <input type="submit" value="Submit">
</form>
<br/>


<h2>Update Product</h2>
<form action="/product/update" method="post">
    ProductID: <input type="text" name="productId"><br>
    Name: <input type="text" name="productName"><br>
    Price: <input type="text" name="price"><br>
    <input type="submit" value="Submit">
</form>
<br/>


<h2>Delete Product</h2>
<form action="/product/delete" method="post">
    ProductID: <input type="text" name="productId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h2>Filter Product</h2>
<form action="/product/filter" method="post">
    ProductID: <input type="text" name="productId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h3>Current products:</h3>
  <table>
    <thead> 
        <th>ProductID</th>
        <th>Name</th>
        <th>Price</th>
    </thead> 

    <tbody>
        {{#each products}} 
        <tr> 
            <td>{{productId}}</td> 
            <td>{{productName}}</td> 
            <td>{{price}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<br/>
<a href="/product">Back</a>

<br/>
<a href="/">Back to main menu</a>

</body>
</html>