<html>

<body>

<form id="addproduct" action="/product" method="post">
    Name: <input type="text" name="name"><br>
    Price: <input type="text" name="price"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="updateproduct" action="/product" method="post">
    ProductID: <input type="text" name="productId"><br>
    Name: <input type="text" name="name"><br>
    Price: <input type="text" name="price"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="deleteproduct" action="/product" method="post">
    ProductID: <input type="text" name="productId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="filterproduct" action="/product" method="post">
    ProductID: <input type="text" name="productId" id="productFilter"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h3>Current products:</h3>
  <table>
    <thead> 
        <th>ProductID</th>
        <th>Name</th>
        <th>Price</th>
    </thead> 

    <tbody>
        {{#each product}} 
        <tr> 
            <td>{{ProductID}}</td> 
            <td>{{Name}}</td> 
            <td>{{Price}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table>

</body>
</html>